<li class="comment">
  <h3>
    At <%= "#{comment.ts.to_i} (#{time_ago_in_words(comment.ts)} ago)" %>,
    <%= link_to truncate(comment.ouid, 20), { :action => :list, :uuid => comment.ouid} %> said:
  </h3>
  <p>
    <% if comment.ouid == APP_UUID -%>
      <div class="delete_button">
        <form name="delete_comment_<%= comment.id %>"
         action="<%= url_for( :action => :delete_comment ) %>" method="post">
          <input type="hidden" name="id" value="<%= comment.id %>" />
          <input type="hidden" name="authenticity_token"
            value="<%= form_authenticity_token %>" />
          <a href="#" onclick="delete_comment_<%= comment.id %>.submit();">
            <%= icon :delete2, :shadow => false, :size => 24 %>
          </a>
        </form>
      </div>
    <% end -%>
    <%= comment.text %>
    <div class="clear"></div>
  </p>
</li>
