<div class="entry">
	<div class="entry-title">Photo: <%= @photo.uid %></div>
	<div class="date">Posted at timestamp <%= @photo.ts.to_i %></div>
	<div class="comments">
    <%= pluralize(@comments.size, "comment") %>
	</div>
</div>

<%= image_tag @photo.image.url, :class => "full" %>

<div class="entry">
  <div class="entry-title">Comments</div>
  <div class="date"><%= pluralize(@comments.size, "comments") %></div>
  <div class="comment_form">
    <% form_for :comment, :url => { :action => :save_comment } do |form| %>
      <%= form.hidden_field :puid, :value => @photo.uid %>
      <label for="comment_text">Add a comment:</label>
      <div class="clear"></div>
      <%= form.text_area :text, :rows => 5 %>
      <div class="clear"></div>
      <%= submit_tag "Post it!" %>
      <div class="clear"></div>
    <% end -%>
  </div>
  <ul class="comment_list">
    <% if @comments.empty? -%>
      <li>No comments for this photo</li>
    <% else -%>
      <% for comment in @comments -%>
        <%= render :partial => "comment", :object => comment %>
      <% end -%>
    <% end -%>
  </ul>
</div>