<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <title>P2Plickr | <%= @page_title || "GIVE ME A TITLE!" %></title>
  <%= stylesheet_link_tag "style" %>
</head>

<body>
  <div id="wrapper">

  	<div id="header">
          <%= image_tag "p2plickr.gif", :class => 'header_logo' %>
  	</div>

  	<div id="menu">
  		<ul>
  			<li><%= link_to "HoMe :P", { :action => :index } %></li>
  			<li><%= link_to "AlL pHoToZ ;)", { :action => :list } %></li>
  			<li><%= link_to "aDd FoTo :)", { :action => :new } %></li>
  		</ul>
  	</div>

  	<div id="sidebar">
  		<div id="feed">
  			LATEST PIX
  		</div>
  		<%= render :partial => "latest_photos", :object => @latest_photos %>
                
                <center>
                                <%= image_tag "guestbook.gif" %>
                                <br />
                                <%= image_tag "button_up.png",
                                              :onmouseover => "this.src='/images/button_over.png';", 
                                              :onmouseout => "this.src='/images/button_up.png';" %>
                </center>
                <div id="sidebar-bottom">
                        &nbsp;
                </div>
  	</div>

  	<div id="content">
  	  <%= render :partial => "shared/flash", :object => flash %>
  	  <%= yield %>
  	</div>

  	<div id="footer">
  		<div id="footer-valid">
                  &copy; MMX, The Weird Shower
                  <embed src='/midis/smooth.mid' hidden autostart loop height=0 width=0></embed>
  		</div>
  	</div>
  </div>
</body>
</html>
